.main {
    display: grid;
    justify-items: center;
}

#taskInput {
    width: 150px;
    height: 20px;
}

#addButton {
    width: 100px;
    height: 25px;
    border: 1px solid rgba(178, 119, 233, 0.418);
    background-color: rgba(178, 119, 233, 0.418);
    font-weight: bolder;
}

.completed {
    text-decoration: line-through;
}